/*==== Common css start ====*/

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: #2b2b2b;
  font-family: "Poppins", sans-serif; /*on mostly header and paragraphs.*/
  /* font-family: 'Open Sans', sans-serif;/*on specially header and footer navbar
font-family: 'Roboto', sans-serif;on Product Name, Description and Price Display */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.12px;
}

a {
  transition: all 600ms ease;
  color: #747474;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  transition: all 600ms ease;
  color: #1a7de2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  line-height: 1.3;
  font-weight: 700;
  font-family: "open sans", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}
small {
  font-size: 12px;
}
p {
  line-height: 1.5;
  font-size: 14px;
}

ul li,
ol li {
  line-height: 1.5;
}
.btn {
  font-size: 14px;
  min-height: 35px;
  padding: 0 10px;
}
.btn:hover,
.btn:focus,
.btn:active {
  outline: none !important;
  text-decoration: none;
  transition: all 600ms ease;
  box-shadow: none;
}
/* button colors */
.btn-primary {
  background-color: #1a7de2;
  border-color: #1a7de2;
}
.img-full {
  width: 100%;
  height: auto;
}

.img-pos {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-control {
  font-size: 14px;
  min-height: 35px;
}
.required {
  color: red;
}
.bg-orange,
.bg-blue {
  background-color: #ff812c;
  color: #fff;
  padding: 2px 10px;
}
.bg-blue {
  background-color: #1a7de2;
}
.container {
  max-width: 1280px;
  width: 100%;
}
table td {
  vertical-align: top;
}

/*======= custom checkbox css start====== */
.custom-btn-wrap {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-btn-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #e3e3e3;
}

/* On mouse-over, add a grey background color */
.custom-btn-wrap:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-btn-wrap input:checked ~ .checkmark {
  background-color: #1a7de2;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-btn-wrap input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-btn-wrap .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*======= custom checkbox css end ====== */
/*========== custom radio btn =========== */

/* Create a custom radio button */
.custom-radio .checkmark {
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #757575;
  border: none;
}

/*========== custom radio btn =========== */

@media screen and (max-device-width: 1023px) {
  body {
    -webkit-text-size-adjust: none;
  }
}
/* spacing css start*/
.mgtop15 {
  margin-top: 15px;
}
.section-padding {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .section-pading {
    padding: 30px 0;
  }
}
@media (min-width: 1024px) {
  .section-padding {
    padding: 60px 0;
  }
}
/* spacing css end*/

/*==== header css start ====*/
ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

header {
  font-family: "open sans";
}
header a {
  color: #747474;
}

nav {
  background-color: #1a7de2;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav > ul > li {
  padding: 10px 15px;
  position: relative;
}
nav > ul > li > a {
  color: #fff;
  line-height: 23px;
}
nav > ul > li > a:hover {
  color: #ffffff;
}
nav ul li ul {
  display: none;
}
nav a {
  font-size: 14px;
  text-transform: uppercase;
}
nav > ul > li:hover ul {
  display: block;
}
nav .caret {
  padding: 10px 20px 10px 15px;
}
nav .caret::before {
  content: "\f107";
  font-family: FontAwesome;
  font-size: 21px;
  position: absolute;
  top: 6px;
  right: 2px;
  color: #fff;
}
.bar-icon {
  background-color: #ff812c;
  position: relative;
  z-index: 9;
}
.bar-icon a {
  color: #fff !important;
  font-size: 20px !important;
}
nav ul li ul {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  top: 44px;
}
nav ul li ul li {
  padding: 12px 16px;
}

.topnavbar {
  background-color: #f2f3f5;
  text-transform: uppercase;
  padding: 5px 0;
}
.topnavbar ul li {
  display: inline-block;
  padding: 0 5px;
}
.topnavbar ul li a {
  color: #747474;
}
.shopping-cart-list {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 6px #989898;
  z-index: 999;
  right: 0;
  text-align: left;
  font-size: 11px;
  min-width: 360px;
  color: #757575;
  top: 51px;
  height: 0;
  overflow: hidden;
}
.shopping-cart-list:before {
  content: "\f0d8";
  font-family: FontAwesome;
  color: #fff;
  font-size: 38px;
  position: absolute;
  top: -35px;
  right: 11px;
  text-shadow: 0px -4px 4px #d0d0d0;
}
.shopping-bag:hover .shopping-cart-list {
  height: auto !important;
  padding: 10px;
  overflow: visible;
}
.shopping-cart-list td,
.shopping-cart-list th {
  padding: 10px 5px;
  border-top: none;
  border-bottom: 1px solid #e3e3e3;
  vertical-align: middle;
}
.shopping-cart-list tr td:nth-child(2) {
  max-width: 150px;
}
.shopping-cart-list span.order-count button.btn {
  min-height: 25px;
  padding: 0;
  min-width: 18px;
}
.shopping-cart-list .order-count span {
  padding: 0 10px;
}
.cart-btn > .btn {
  width: calc(50% - 5px);
}
.default-font {
  font-size: 12px;
}

.welcome-text {
  font-weight: 600;
  color: #2b2b2b;
}
.welcome-text .username {
  font-weight: 300;
}
.top-header {
  padding: 15px 0;
}
.seacrh-list {
  position: absolute;
  width: 100%;
  top: 40px;
  z-index: 1;
  background-color: #fff !important;
  box-shadow: 4px 4px 4px -4px #0000003b;
  padding: 10px 15px !important;
  display: none;
}
.show-search-list {
  display: block;
}
.seacrh-list li {
  padding: 5px 0;
}
.seacrh-list li a {
  display: block;
}
input:focus {
  outline: none;
}
.logo img {
  width: 140px;
}
/* mega menu css start */
.left-menu {
  background-color: #f5f5f5;
  padding: 15px;
  position: relative;
  width: 200px;
}
.left-menu:before {
  content: "\f0d8";
  font-family: "FontAwesome";
  position: absolute;
  font-size: 50px;
  top: -46px;
  left: 12px;
  color: #f5f5f5;
}

.left-menu h6 {
  padding: 0 0 12px 0;
}
.left-menu li {
  padding: 12px 0;
  border-bottom: 1px solid #e3e3e3;
}
.left-menu li i {
  margin-right: 10px;
}
.left-menu > div {
  width: 100%;
}

.nav-link-icon {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 27px;
  color: #fff;
  background-color: #ff812c;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.parent-menu {
  position: relative;
  height: calc(100% - 17px);
}
.parent-menu,
.parent-menu ul {
  list-style: none;
  padding: 0;
}
.parent-menu ul {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.13);
  height: 100%;
}
.parent-menu > li {
  width: 100%;
}
.parent-menu li a {
  padding: 0 10px;
  display: block;
  position: relative;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.parent-menu .sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  display: none;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 1;
}
.parent-menu input {
  border: 1px solid #e3e3e3;
  padding: 5px;
  margin: 10px 0;
  width: 100%;
}
.parent-menu li:hover > .sub-menu {
  display: block !important;
}
.icon > a:before {
  position: absolute;
  content: "\f105";
  font-family: "fontawesome";
  height: 25px;
  width: 21px;
  top: 0px;
  font-size: 15px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1023px) {
  .hide-mobile {
    display: none;
  }
  .no-scroll {
    overflow: hidden;
  }
  .left-menu {
    width: 100% !important;
    position: fixed !important;
    z-index: 3;
    top: 0;
    left: -1000px;
    min-height: 100vh;
    transition: 1s all ease;
  }
  .left-menu.show-menu {
    left: 0;
    transition: 1s all ease;
  }
  .close-btn {
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    columns: #747474;
    top: 5px;
  }
  .left-menu > div {
    max-height: 100vh;
    overflow-y: scroll;
  }
  li.icon:hover > a:before {
    transform: rotate(90deg);
  }
  .left-menu li:hover > a {
    color: #1a7de2;
  }
  .sub-menu {
    position: relative !important;
    left: 0 !important;
    border-top: 1px solid #e3e3e3;
    margin-top: 9px;
    padding-left: 5px;
  }
  .parent-menu ul {
    box-shadow: none !important;
  }
  .shopping-cart-list {
    min-width: 340px;
  }
  .sub-menu li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .parent-menu li a {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
  .left-menu {
    display: flex;
  }
}

/* mega menu css end */
.orange {
  color: #ff812c;
}
.blue {
  color: #1a7de2;
}
span.new-tag {
  position: absolute;
  background-color: #ff812c;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  left: 17.5px;
  top: 10px;
  font-size: 12px;
  z-index: 1;
}

.quick-links.text-right ul {
  margin: 0 -10px;
}
.quick-links ul li {
  display: inline-block;
  padding: 0 10px;
}
.quick-links.text-right ul li a {
  position: relative;
}

.quick-links.text-right ul li:not(:last-child) a:after {
  content: "";
  position: absolute;
  height: 14px;
  width: 2px;
  background: #e3e3e3;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}
.quick-links img {
  width: 16px;
}
.quick-links span img {
  width: 36px;
}
span.orange.position-relative b {
  position: absolute;
  left: 54%;
  top: 76%;
  transform: translate(-50%, -50%);
}
form.category > * {
  min-height: 40px;
  padding: 0 15px;
  border: none;
  border-radius: 4px;
  background-color: #f4f4f4;
}
form.category input {
  /* min-width: 280px; */
  width: 100%;
  border-radius: 4px 0 0 4px;
}
.form-control,
.border {
  border-color: #e3e3e3 !important;
}
form.category .btn {
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #1a7de2 !important;
}
/* modal css :start */
.modal-dialog {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
button.close {
  font-size: 14px;
}
.modal-header {
  align-items: center;
}
/* modal css end */
@media (max-width: 1023px) {
  .hide-mobile {
    display: none;
  }

  .logo {
    width: 200px;
    margin-bottom: 15px;
  }

  /* .top-header {
    margin-left: -5px;
    margin-right: -5px;
  } */
  .quick-links {
    width: 100%;
    margin-top: 23px;
  }
  .quick-links ul {
    justify-content: flex-start;
  }
  .quick-links li {
    padding: 0 5px;
  }

  ul.mobile-sub > li:first-child > a {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
  }
  .quick-links li.padding-right {
    padding-right: 20px;
  }
  .wstabitem > li > a,
  .wstliststy01 li a {
    text-align: left;
  }
}
@media (max-width: 575px) {
  .top-header {
    padding: 20px 0 0;
  }
}
/* ======header style end====== */

/* slick styler style start */
.slick-slide img {
  width: 100%;
}
.slick-arrow {
  background: #fff;
  box-shadow: 0 0 8px #928e8e;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  content: "";
  background-image: url(../../img/icons/next.png);
  background-size: contain;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.slick-prev:before {
  background-image: url(../../img/icons/left-arrow.png);
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #fff;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
/* slick styler style end*/

/* before price css start */
.before-price {
  font-weight: 600;
  color: #a4a4a4;
  text-decoration: line-through;
  margin: 0 11px;
}
/* before price css end */

/* order count */
.order-count {
  border: 1px solid #e3e3e3;
  display: inline-flex;
}
.order-count .btn {
  background: transparent;
}
.order-count span {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  padding: 0 21px;
  display: inline-flex;
  align-items: center;
}

/* footer css start */
.footer-top {
  padding: 30px 0;
  background-color: #1a7de2;
  color: #fff;
}
.footer-top h5 {
  text-transform: uppercase;
}
.footer-top ul li {
  padding-bottom: 3px;
}
.footer-top li a {
  color: #fff;
}
.footer-bottom {
  padding: 15px 0;
  background-color: #ff812c;
  color: #fff;
}
.social-media li a {
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  color: #1a7de2;
  height: 20px;
  width: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.footer-text {
  background-color: #f3f3f3;
  color: #747474;
  padding: 30px 0;
}
.footer-text h1 {
  font-size: 20px;
}
.footer-text > .container div:not(:last-child) {
  margin-bottom: 20px;
}
/* footer css end */

/* dahboard pages css start */
.page-content-wrap {
  margin-top: 20px;
}
nav.side-nav {
  background-color: transparent;
  width: 200px;
}
nav.side-nav ul {
  flex-direction: column;
  align-items: flex-start;
}
nav.side-nav li {
  width: 100%;
  padding: 15px;
}
nav.side-nav li.active {
  background-color: #f5f5f5;
}
nav.side-nav li.active a {
  color: #1a7de2;
  font-weight: 600;
}
nav.side-nav li a {
  color: #757575;
}
nav.side-nav li a:hover {
  color: #1a7de2;
}
nav.side-nav li a i {
  margin-right: 15px;
}
.page-content {
  background-color: #f5f5f5;
  width: calc(100% - 200px);
  min-height: calc(100vh - 170px);
  padding: 20px 30px 30px;
}
.bordered-bg {
  padding: 20px;
  border-bottom: 5px solid #1a7de2;
}
.page-title {
  font-size: 20px;
  margin-bottom: 15px;
}
.title-section {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
ul.pagination {
  justify-content: flex-end;
  margin-top: 20px;
}
ul.pagination a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #1a7de2;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
}
ul.pagination li.active a {
  background-color: transparent;
  color: #1a7de2;
}
@media (max-width: 1023px) {
  .page-content,
  nav.side-nav {
    width: 100%;
  }
  .page-content {
    padding: 15px;
  }
}
/* dahboard pages css start */
