.banner-section {
  padding: 20px 0;
}
.left-content {
  width: calc(68% - 10px);
}
.right-content {
  width: calc(32% - 10px);
}
.right-content .top {
  margin-bottom: 20px;
}
/* timer css */
#timer > div {
  font-size: 32px;
  padding: 0 20px;
  position: relative;
  font-weight: 600;
}
#timer > div span {
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
}

div#timer > div:not(:last-child):after {
  position: absolute;
  content: ":";
  right: -5px;
  top: 0;
}
/* timer css end  */
.bottom #timer {
  position: absolute;
  bottom: 10px;
  color: #fff;
  width: 100%;
}
.bottom #timer > div {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.bottom #timer > div span {
  margin: 0;
  font-size: 12px;
}
.bottom #timer > div span after {
  right: 0;
}
/* popular items css start */
.popular-item .row {
  margin: 0 -1.5px;
}
.popular-item [class*="col-"] {
  padding: 0 1.5px;
}
.popular-item .d-flex {
  background-color: #f5f5f5;
  padding: 20px;
}
.popular-item img {
  width: 40px;
}
/* popular items css end */

/* bordered tab css start  */
.bordered-tab li.nav-item {
  text-align: center;
  padding: 0 10px;
}
.bordered-tab li.nav-item a {
  color: #757575;
  text-transform: uppercase;
  font-weight: 600;
  border: none !important;
  position: relative;
  font-size: 18px;
}
.bordered-tab li.nav-item a.active {
  color: #1a7de2 !important;
}
.bordered-tab li.nav-item a.active:after {
  width: 100% !important;
  height: 5px;
  background: #ff812c;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
}
/* bordered tab css start  */
.product img,
.featured-product img {
  width: 100%;
}
.product-item {
  margin: 7.5px;
  position: relative;
}
.product span.new-tag {
  left: 10px;
}
.item-detail {
  padding: 15px 0;
}
.rating-stars {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
ul#stars {
  display: flex;
  margin-right: 10px;
}
.grey {
  color: #a4a4a4;
}
.btn-grey {
  text-transform: uppercase;
  min-height: 40px;
  padding: 0 15px;
  border-radius: 0;
  font-weight: 500;
}
.title-wrap {
  margin-bottom: 20px;
}
.title-wrap .title {
  text-transform: uppercase;
  color: #ff812c;
  font-family: "ope sans";
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 6px;
  border-bottom: 2px solid;
}
.featured-product {
  margin: 0 -7.5px;
}
.featured-product .product-item {
  padding: 0 7.5px;
  margin: 0;
}
.featured-item {
  width: 100%;
}
@media (min-width: 992px) {
  .featured-item {
    max-width: 215px;
  }
}
.img-wrap {
  background-color: #f5f5f5;
  padding: 10px;
}
.flash-sale {
  background-image: url(../../img/carousel.jpg);
  padding: 20px 0;
}
.all-products .product-item {
  width: calc(100% / 5);
}
/* block tab css start  */
.search-text {
  background: #1a7de2;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 15px;
  margin-right: 10px;
}
.block-tab {
  border: none;
}
.block-tab li {
  padding: 0 10px;
}
.block-tab li a {
  border: none !important;
  text-transform: uppercase;
  font-size: 18px;
}
.block-tab li a.active {
  color: #ff812c !important;
}

/* block tab css start  */
.category-search {
  padding-bottom: 35px;
}
.category-search .row {
  margin: 0 -10px;
}
.category-search .row > div {
  padding: 10px;
}
.category-search .item-detail {
  text-align: center;
}
.category-search h6,
.category-search p {
  margin-bottom: 0;
}
a.text-uppercase.view-more {
  display: block;
  color: #ff812c;
  margin-top: 20px;
  font-weight: 700;
}
